/*General*/
body {
	margin: 0px;
	position: relative;
	height: 100%;

}
.active {
	color: red;
	font-weight: bold;
	text-decoration: underline;

}

.normal {
	color: inherit;
	font-weight: bolder;
	text-decoration: none;
	
}
::selection {
	/* color: red; */
	user-select: none;
}

footer {
	position: absolute;
	display: block;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 80px;
	background-color: lightblue;
	color: white;
	text-align: center;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.green {
	background-color: green;
}

.brown {
	background-color: brown;
}

p {
	font-size: 1em;
	font-family: 'Gloria Hallelujah', cursive;
}

/* Utility */
.container {
	padding: 15px;
}

.body-wrapper {
	margin-top: 100px;
}

.new {
	width: 200px;
}

.navbar {
	z-index: 1;
	padding: 10px;
	width: 100%;
	height: 80px;
	background-color: lightgrey;
	position: fixed;
	top: 0;
	left: 0;
	display: inline-block;
}

.nav {
	margin-left: 300px;
	/* position: relative; */
}

.navbar img {
	height: 50px;
}

.nav a {
	text-transform: uppercase;
	text-decoration: none;
	margin-right: 50px;
}

.nav a:last-child {
	margin-right: 0px;
}

.nav a:hover {
	font-weight: bold;
}

.cover_image {
	/* z-index: 10; */
	position: relative;
	/* margin-top: 80px; */

}

.cover_image img {
	width: 100%;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0);
	opacity: 0.5;
}

.about_section {
	margin-top: 10px;
}

.about_section h3 {
	font-size: 5vw;
	text-align: center;
	letter-spacing: 5px;

}

.about_section p {
	font-family: 'Gloria Hallelujah', cursive;
	text-align: justify;
	line-height: 20px;
	word-spacing: 10px;
}

.test-p::first-letter {
	color: red;

}

.card-wrapper {
	padding-bottom: 100px;
}

.card {
	border: 1px solid lightgrey;
	width: 30%;
	height: 200px;
	display: inline-block;
	margin-right: 2%;
	border-radius: 10px;
	bottom
}

.card:hover {
	background-color: brown;
	cursor: pointer;
}

.footer-navbar a {
	color: white;
	text-decoration: none;

}

.footer-navbar a::after {
	content: "|";
	margin-left: 5px;
	margin-right: 5px;
	/* border: 1px solid rgb(43, 214, 226); */
}

.footer-navbar a:last-child::after {
	content: "";
}